@media only screen and (max-width:480px) {

    .header {
        background-position: center;
    }

    .menu {
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
    }

    .menu ul {
        height: 100%;
        position: relative;
        margin: 0;
        padding: 0;
    }

    .menu-list-container {
        display: none;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        z-index: 500;
    }

    .menu-list-container li {
        margin-top: 35px;
        text-align: center;
        -webkit-box-flex: unset;
        -ms-flex: unset;
        flex: unset;
        font-weight: bold;
    }

    .menu div:first-child {
        padding-left: 0px;
    }

    .menu div:first-child {
        -webkit-box-flex: unset;
        -ms-flex: unset;
        flex: unset;

    }

    .menu i {
        display: block;
        cursor: pointer;
        font-size: 150%;

    }

    .fa-times {
        top: 15%;
        cursor: pointer;
        font-size: 150%;
        position: absolute;
    }

    .header h1 {
        text-align: center;
        margin-top: 20vh;
        font-size: 215%;
    }

    .fa-book {
        margin: 5vh 0;
    }

    .chapter {
        margin: 50px 25px;
    }

    .comments {
        width: 80%;
        margin: 5% 5%;

    }

    .menu-before {
        height: 20vh;
    }

    .login-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .interface {
        width: 80%;
    }

    .editor-container {
        max-width: 100%;
        width: 100%;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .editor-container form {
        width: 90%;
    }
    .animationLeftOut {
        transform: translateX(-500px);
        transition: 0.5s ease-in-out;
        position: absolute;
        top: 40%;
        left: 0%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
}